.Upload {
  position: relative;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.1);
  width: 100%;
  height: calc(55vh - 10em);
  min-height: 15em;
  top: 10em;
}

.Upload #upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.Upload #or {
  position: absolute;
  text-align: center;
  bottom: -0.5em;
  width: 100%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.8);
  user-select: none;
}

.Upload #or span {
  display: inline-block;
  background-color: white;
  width: 3em;
}

.Upload form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Upload .key {

}